* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    background-color: fff;
    color: green;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    border: 2px solid green;
    padding: 10px;
}

nav {
    border: 2px solid yellow;
    padding: 15px;
    width: 70%;
    margin-left: auto;
    color: yellow;
}

main {
    border: 2px solid rgb(0, 72, 0);
    padding: 10px;
}

main>strong {
    display: block;
    margin-bottom: 10px;
}

.content {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

section {
    border: 2px solid yellow;
    padding: 20px;
    color: yellow;
}

.content>section {
    flex: 2;
}

.content>aside {
    flex: 1;
    border: 2px solid yellow;
    padding: 10px;
    color: yellow;
}

article {
    border: 2px solid blue;
    margin: 5px 0;
    padding: 25px;
    color: blue;
}

aside section {
    border: 2px solid blue;
    margin-top: 10px;
    padding: 15px;
    color: blue;
}